:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(61, 83, 39);
}

#Container {
  width: 100%;
  height: 98vh;
  display: flex;

  position: relative;
  justify-content: center;
}

#Mapa {
  width: 85%;
  height: 80vh;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 199, 106);
}

.Personagem {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  align-self: flex-start;
  transition: visibility 0.3s ease;
  animation: slide-out 0.3s ease;
}
.Personagem .ativo {
  visibility: inherit;
  animation: slide-in 0.3s ease;
}

#frodo {
  top: 0;
  left: 0;
  position: absolute;
  align-self: flex-start;
  cursor: pointer;
}

table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid rgba(6, 48, 27, 0.151);
  text-align: center;
  padding: 15px;
  width: 12.5%;
  overflow: hidden;
}
