:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --tdw: calc(100% / 8);
  --tdh: calc(100% / 4);
  --sam-health: 100%;
  --aragorn-health: 90%;
  --legolas-health: 100%;
  --gimli-health: 100%;
  --gandalf-health: 100%;
  --boromir-health: 100%;
  --sam-health: 100%;
}
body {
  background-color: rgb(61, 83, 39);
  position: relative;
}

#Container {
  width: 100%;
  height: 98vh;
  display: flex;
  justify-content: center;
}

#map {
  height: 90vh;
  aspect-ratio: 16/12;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-image: url("../imagens/middle-earth-map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
table {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  table-layout: fixed;
}
td {
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 15px;
  width: var(--tdw);
}
td > img {
  width: 100%;
}
tr {
  height: var(--tdh);
  overflow: hidden;
}

#frodo > img {
  cursor: pointer;
  width: 100%;
}

#left_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.125);
  top: 0;
  position: absolute;
  width: 5%;
}
#characters {
  display: none;
  flex-direction: column;
  top: 10%;
  left: 0px;
  width: 100%;
  gap: 5px;
}
#characters > div > img {
  width: 100%;
}
#characters.ativo {
  display: flex;
}
#characters > div {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 10%;
}
.health {
  user-select: none;
  text-align: center;
  font-size: small;
  line-height: 0.9em;
  width: 90%;
}

#sam_health {
  background-image: linear-gradient(
    to right,
    green 0 var(--sam-health),
    red var(--sam-health)
  );
}
#aragorn_health {
  background-image: linear-gradient(
    to right,
    green 0 var(--aragorn-health),
    red var(--aragorn-health)
  );
}
#legolas_health {
  background-image: linear-gradient(
    to right,
    green 0 var(--legolas-health),
    red var(--legolas-health)
  );
}
#gimli_health {
  background-image: linear-gradient(
    to right,
    green 0 var(--gimli-health),
    red var(--gimli-health)
  );
}
#boromir_health {
  background-image: linear-gradient(
    to right,
    green 0 var(--boromir-health),
    red var(--boromir-health)
  );
}
#gandalf_health {
  background-image: linear-gradient(
    to right,
    green 0 var(--gandalf-health),
    red var(--gandalf-health)
  );
}
#characters > div.ativo {
  display: flex;
}

#right_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.125);
  top: 0;
  right: 0;
  position: absolute;
  width: 5%;
}
#right_side img {
  cursor: pointer;
}

.description {
  display: none;
}

.hide_map {
  display: none !important;
}
.show_combat {
  display: block !important;
}

#combat {
  display: none;
  height: 90vh;
  aspect-ratio: 16/12;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-image: url("../imagens/combat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
