

body {
  font-family: 'Cinzel', serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagens/fundo.jpg);
  margin: 0;
  padding: 0;
  color: white;
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}


#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}


#btnStart {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 35px 50px;
  font-size: 18px;
  border: none;
  border-radius: 28px;
  background-color: rgba(31, 116, 45, 0.918);
  transition: 0.3s;
}

#btnStart:hover {
  background-color: #09420c75;
  box-shadow: 0 0 15px #32be39;
  transform: scale(1.05);
}


#ranking {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 35px 70px;
  font-size: 18px;
  border: none;
  border-radius: 28px;
  background-color: rgba(165, 103, 21, 0.918);
  transition: 0.3s;
}
#ranking:hover {
  background-color: #64331283;
  box-shadow: 0 0 15px #e28233;
  transform: scale(1.05);
}

#conquistas {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 35px 60px;
  font-size: 18px;
  border: none;
  border-radius: 28px;
  background-color: rgba(167, 108, 60, 0.918);
  transition: 0.3s;
}
#conquistas:hover {
  background-color: #64401e7c;
  box-shadow: 0 0 15px #d34f02;
  transform: scale(1.05);
}

#logout img {
  width: 190px;       /* largura que você quer */
  height: auto;      /* mantém a proporção original */
  position: absolute;
  top: 20px;
  left: 30px;
  transform: rotate(-25deg);
}
