

body {
  font-family: 'Cinzel', serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagens/fundo.jpg);
  margin: 0;
  padding: 0;
  color: white;
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}


#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

#ranking {
  width: 100%;
  max-width: 300px;
  background: #63994db0;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
}

#ranking h1 {
  margin-top: 0;
}

#ranking ul {
  padding-left: 20px;
}

#start-game {
  width: 100%;
  display: flex;
  justify-content: center;
}

#btnStart {
  background: linear-gradient(145deg, #c9a635, #ffd700);
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#btnStart:hover {
  box-shadow: 0 0 15px #ffd700;
  transform: scale(1.05);
}

#conquistas {
  width: 100%;
  max-width: 300px;
  background: #63994db0;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
}

#conquistas h1 {
  margin-top: 0;
}

#conquistas ul {
  padding-left: 20px;
}